body {
	text-align: center;
}
.dog {
	font-family: fantasy;
}
.secret {
	opacity: 0.5;
}
ul {
	list-style: none;
}
table,th,td {
	border: 1px solid gray;
}
table {
	margin-left: auto
	margin-right: auto;
	display: table;
}
.cabbage {
	color: chartreuse;
}