body {
	text-align: center;
	background-color: lavender;
}
.dog {
	font-family: fantasy;
}
.secret {
	opacity: 0.5;
}
ul {
	list-style: none;
	text-align: center;
}
table,th,td {
	border: 1px solid gray;
}
table {
text-align: center;
display: center;
}
.cabbage {
	color: chartreuse;
}
h1 {
	text-decoration: underline;
}